/*imports*/
@import "./Avenir-Black.css";
@import "./Avenir-Book.css";
@import "./Avenir-Light.css";
@import "./Avenir-Heavy.css";
@import "./Avenir-Medium.css";

/* constants */
:root {
  /* fonts */
  --font-family: Avenir-Black;
  --font-h1: Avenir-Black;
  --font-h2: Avenir-Black;
  --font-h3: Avenir-Heavy;
  --font-h4: Avenir-Heavy;
  --font-h5: Avenir-Book;
  --font-h6: Avenir-Heavy;
  --body-one: Avenir-Light;
  --body-two: Avenir-Book;
  --info-text: Avenir-Underline-Black;
  --subscript-one: Avenir-Book;
  --subscript-two: Avenir-Heavy;
  --caption-text: Avenir-Medium;
  --button-text: Avenir-Heavy;

  /* font size  */
  --size-h1: 36px;
  --size-h2: 28px;
  --size-h3: 24px;
  --size-h4: 18px;
  --size-h5: 16px;
  --size-h6: 14px;
  --size-body-one: 16px;
  --size-body-two: 14px;
  --size-info: 14px;
  --size-subscript: 12px;
  --size-caption: 10px;
  --size-button: 16px;

  /* colors */
  --monochrome: #080808;
  --black: #000000;
  --monochrome-two: #191919;
  --monochrome-three: #393939;
  --monochrome-four: #6b6b6b;
  --monochrome-six: #6b6b6b;
  --monochrome-eight: #f3f3f3;
  --primary-main: #936ef4;
  --primary-dark: #664baf;
  --secondary-one-dark: #03876c;
  --secondary-one-main: #05c19b;
  --secondary-one-light: #37cdaf;
  --secondary-two-main: #fbd540;
  --secondary-two-light: #fbdd66;
  --white: #ffffff;
  --orange: #f6613e;

  font-family: var(--font-family);
  color: var(--white);
  background: var(--black);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: var(--size-h1);
  font-family: var(--font-h1);
}

h2 {
  font-size: var(--size-h2);
  font-family: var(--font-h2);
}

h3 {
  font-size: var(--size-h3);
  font-family: var(--font-h3);
}

h4 {
  font-size: var(--size-h4);
  font-family: var(--font-h4);
}

h5 {
  font-size: var(--size-h5);
  font-family: var(--font-h5);
}

h6 {
  font-size: var(--size-h6);
  font-family: var(--font-h6);
}

p {
  font-size: var(--size-body-one);
  font-family: var(--body-one);
}

.top-half {
  height: 30vh;
  background: linear-gradient(
    to left,
    var(--primary-dark),
    var(--primary-main)
  );
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.top-half .card {
  margin: 100px 0;
  background: var(--monochrome) !important;
  height: 500px;
  width: 550px;
  z-index: 50;
  padding: 4% 0;
  text-align: center;
  border-radius: 2%;
}

.card .logo {
  margin: 0 auto;
}

.card .login-form Button {
  background: var(--monochrome) !important;
  border: 0.5px solid var(--white);
  margin: 5% 0 0;
  padding: 2%;
  font-family: var(--button-text);
  font-size: var(--size-button);
  text-transform: capitalize;
}

.card .login-form img {
  vertical-align: middle;
  font-size: var(--size-button);
  margin-right: 10px;
}

.card .login-form .login-footer {
  padding: 10% 0;
}

.card .login-form .login-footer a {
  font-size: var(--size-body-one);
  color: var(--white);
  text-decoration: underline;
}

.logo-register {
  width: 10%;
  margin-bottom: 5%;
}

.register-label {
  color: var(--secondary-two-main);
}
